@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* 	{
		font-family: 'Open Sans', sans-serif;
	}

.bold-p {
	font-weight: bold;
}

.bold-text {
	font-size: 60px;
}

.container-entren {
	display: flex;
	margin: auto;
}

.entren-2 {
	margin-top: 187px;
}

.section-entrenamiento {
		font-size: 26px;
	}

.first-section{
	margin-left: 20px;
}

@media (max-width: 500px) {
	.container-entren {
		flex-direction: column;

	}

	.entren-2 {
		margin:0;
	}

	.section-entrenamiento {
		font-size: 18px;
	}

	.bold-text {
		font-size: 38px;
	}

	.first-section {
		margin-left: 1px;
	}
}