
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{font-family: 'Open Sans', sans-serif;}

.section-proyect {
	margin: auto;
	padding: 60px;
	font-size: 26px;
}

.text-2 {
	margin-top: 130px;
}


.spam-1, .spam-2 {
	font-weight: bold;
}

.innovacion {
	margin-top: 60px;
}

@media (max-width: 500px) {
	.text-1, .text-2{
		font-size: 22px;
	}

	h1 {
		font-size: 31px;
	}

	.text-2 {
		margin-top: 0;
	}
}