
body {
	margin: 0;
}

.img-1, .img-2, .img-3 {
	width: 350px;
	height: 250px;
}

.img-second {
	display: block;
	margin: auto;
}

.section-1 {
	display: flex;
}

p{
	text-align: justify;
}

.sub-container {
	padding: 33px;
	width: 100%;
}

.img-1 {
	background-image: url(./img/proyectos.jpg);
	background-size: cover;
	margin: 30px auto;
}

.img-2 {
	background-image: url(./img/entrenamiento.jpg);
	background-size: cover;
	margin: 30px auto;
}

.img-3 {
	background-image: url(./img/workshops.jpg);
	background-size: cover;
	margin: 27px auto;
}

.paragraph-center {
	text-align: center;
}

.p-center {
	bottom: 0;
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
	
}

.p-center:hover{
	background-color: rgba(36, 111, 255, 0.5);
	background: rgba(36, 111, 255, 0.5);
	color: rgba(36, 111, 255, 0.5);
	color: white;
}

.parallax {
	width: 100%;
	height: 400px;
	background-image: url(./img/parallax.jpg);
	background-attachment: fixed;
	color: white;
	font-size:35px;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
}

.enfoque{
	width: 100%;
	height: auto;
}

.img-prueba {
	width: 300px;
	height: 200px;
	background: skyblue;
}

.article-container {
	display: flex;
}

.img-section{
	padding: 40px;
	width: 100%;
	text-align: center;
}

.img-clientes {
	width: 200px;
	height: 100px;
	background: blue;
	margin: 10px;
}

.clientes {
	display: flex;
	justify-content: space-between;
}

.img-clientes-2 {
	width: 200px;
	height: 100px;
	background: blue;
	margin: 10px;
	margin: 0 30px 0 30px;
}

.clientes-2 {
	display: flex;
	justify-content: center;
} 

.img-clientes {
	background-image: url(./img/everis-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.img-clientes-2 {
	background-image: url(./img/everis-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.contac-text {
	font-size: 60px;
}
 
.box-contact {
	width: 30px;
	height: 30px;
}

.ubic, .numero, .mensaje {
	display: flex;
}

.contac-container {
	display: flex;
	justify-content: space-around;
}

.sub-cont-text {
	display: flex;
	align-items: center;
}

.line-cont {
	font-size: 20px;
}